.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table{
    margin-top: 5px;
    border: 1px solid;
    border-collapse: collapse;
}

.item{
    border: 1px solid;
    padding: 5px;
    text-align: center;
}

.link{
    color: #278cff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}